{\rtf1\ansi\ansicpg1251\cocoartf2709
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 .MESSIAH \{\
  background-color: #ffffff;\
  display: flex;\
  flex-direction: row;\
  justify-content: center;\
  width: 100%;\
\}\
\
.MESSIAH .div \{\
  background-color: #ffffff;\
  overflow: hidden;\
  width: 1440px;\
  height: 5819px;\
  position: relative;\
\}\
\
.MESSIAH .overlap \{\
  position: absolute;\
  width: 1440px;\
  height: 450px;\
  top: 5369px;\
  left: 0;\
  background-color: #00aeef;\
\}\
\
.MESSIAH .phone \{\
  position: absolute;\
  width: 229px;\
  height: 15px;\
  top: 378px;\
  left: 165px;\
\}\
\
.MESSIAH .email-m-rafik-s \{\
  position: absolute;\
  width: 268px;\
  height: 19px;\
  top: 344px;\
  left: 165px;\
\}\
\
.MESSIAH .contact \{\
  position: absolute;\
  width: 88px;\
  height: 18px;\
  top: 286px;\
  left: 165px;\
\}\
\
.MESSIAH .photo \{\
  position: absolute;\
  width: 301px;\
  height: 301px;\
  top: 97px;\
  left: 1086px;\
\}\
\
.MESSIAH .overlap-group \{\
  position: absolute;\
  width: 1442px;\
  height: 1502px;\
  top: 3867px;\
  left: 0;\
\}\
\
.MESSIAH .element \{\
  position: absolute;\
  width: 1442px;\
  height: 1502px;\
  top: 0;\
  left: 0;\
\}\
\
.MESSIAH .overlap-group-2 \{\
  position: relative;\
  width: 1440px;\
  height: 1502px;\
  background-color: #ffffff;\
\}\
\
.MESSIAH .omar \{\
  position: absolute;\
  width: 123px;\
  height: 175px;\
  top: 246px;\
  left: 1085px;\
\}\
\
.MESSIAH .img \{\
  position: absolute;\
  width: 106px;\
  height: 106px;\
  top: 0;\
  left: 6px;\
\}\
\
.MESSIAH .text-wrapper \{\
  position: absolute;\
  width: 119px;\
  top: 153px;\
  left: 0;\
  opacity: 0.5;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 16px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-2 \{\
  position: absolute;\
  width: 109px;\
  top: 123px;\
  left: 4px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .nail \{\
  position: absolute;\
  width: 123px;\
  height: 175px;\
  top: 246px;\
  left: 885px;\
\}\
\
.MESSIAH .text-wrapper-3 \{\
  position: absolute;\
  width: 100px;\
  top: 123px;\
  left: 9px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .dan \{\
  position: absolute;\
  width: 106px;\
  height: 106px;\
  top: 0;\
  left: 7px;\
\}\
\
.MESSIAH .zhasulan \{\
  position: absolute;\
  width: 171px;\
  height: 175px;\
  top: 246px;\
  left: 637px;\
\}\
\
.MESSIAH .text-wrapper-4 \{\
  position: absolute;\
  width: 149px;\
  top: 153px;\
  left: 10px;\
  opacity: 0.5;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 16px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-5 \{\
  position: absolute;\
  width: 167px;\
  top: 123px;\
  left: 0;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .IMG \{\
  position: absolute;\
  width: 106px;\
  height: 106px;\
  top: 0;\
  left: 31px;\
\}\
\
.MESSIAH .sanzhar \{\
  position: absolute;\
  width: 163px;\
  height: 175px;\
  top: 246px;\
  left: 397px;\
\}\
\
.MESSIAH .text-wrapper-6 \{\
  position: absolute;\
  width: 34px;\
  top: 153px;\
  left: 63px;\
  opacity: 0.5;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 16px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-7 \{\
  width: 159px;\
  top: 123px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
  position: absolute;\
  left: 0;\
\}\
\
.MESSIAH .IMAGE \{\
  position: absolute;\
  width: 106px;\
  height: 106px;\
  top: 0;\
  left: 27px;\
\}\
\
.MESSIAH .rafik \{\
  position: absolute;\
  width: 136px;\
  height: 175px;\
  top: 246px;\
  left: 184px;\
\}\
\
.MESSIAH .founder-CEO \{\
  position: absolute;\
  width: 115px;\
  top: 153px;\
  left: 8px;\
  opacity: 0.5;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 16px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-8 \{\
  position: absolute;\
  width: 132px;\
  top: 123px;\
  left: 0;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .IMG-2 \{\
  position: absolute;\
  width: 106px;\
  height: 106px;\
  top: 0;\
  left: 13px;\
\}\
\
.MESSIAH .text-wrapper-9 \{\
  position: absolute;\
  width: 129px;\
  top: 113px;\
  left: 657px;\
  font-family: "Inter", Helvetica;\
  font-weight: 700;\
  color: #000000;\
  font-size: 48px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .funfact \{\
  position: absolute;\
  width: 1342px;\
  height: 853px;\
  top: 549px;\
  left: 50px;\
\}\
\
.MESSIAH .overlap-2 \{\
  position: relative;\
  width: 1344px;\
  height: 853px;\
\}\
\
.MESSIAH .view \{\
  position: absolute;\
  width: 490px;\
  height: 490px;\
  top: 215px;\
  left: 423px;\
\}\
\
.MESSIAH .overlap-group-3 \{\
  position: relative;\
  height: 490px;\
  border-radius: 245px;\
\}\
\
.MESSIAH .ellipse \{\
  width: 350px;\
  height: 350px;\
  top: 70px;\
  left: 70px;\
  border-radius: 175px;\
  position: absolute;\
  border: 2px solid;\
  border-color: #beeaff;\
\}\
\
.MESSIAH .ellipse-2 \{\
  width: 420px;\
  height: 420px;\
  top: 35px;\
  left: 35px;\
  border-radius: 210px;\
  position: absolute;\
  border: 2px solid;\
  border-color: #beeaff;\
\}\
\
.MESSIAH .ellipse-3 \{\
  width: 490px;\
  height: 490px;\
  top: 0;\
  left: 0;\
  border-radius: 245px;\
  position: absolute;\
  border: 2px solid;\
  border-color: #beeaff;\
\}\
\
.MESSIAH .omar-funfact \{\
  position: absolute;\
  width: 504px;\
  height: 218px;\
  top: 635px;\
  left: 706px;\
\}\
\
.MESSIAH .overlap-3 \{\
  position: relative;\
  width: 500px;\
  height: 218px;\
\}\
\
.MESSIAH .rectangle \{\
  position: absolute;\
  width: 500px;\
  height: 200px;\
  top: 0;\
  left: 0;\
  background-color: #beeaff;\
  border-radius: 20px;\
  box-shadow: 0px 4px 4px #00000040;\
\}\
\
.MESSIAH .p \{\
  position: absolute;\
  width: 461px;\
  top: 52px;\
  left: 20px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 14px;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-10 \{\
  position: absolute;\
  top: 15px;\
  left: 20px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .nail-funfact \{\
  position: absolute;\
  width: 504px;\
  height: 218px;\
  top: 635px;\
  left: 130px;\
\}\
\
.MESSIAH .zhasulan-funfact \{\
  position: absolute;\
  width: 504px;\
  height: 250px;\
  top: 285px;\
  left: 840px;\
\}\
\
.MESSIAH .overlap-4 \{\
  position: relative;\
  width: 500px;\
  height: 250px;\
  background-color: #beeaff;\
  border-radius: 20px;\
  box-shadow: 0px 4px 4px #00000040;\
\}\
\
.MESSIAH .sanzhar-funfact \{\
  width: 504px;\
  height: 250px;\
  top: 285px;\
  position: absolute;\
  left: 0;\
\}\
\
.MESSIAH .element-graduated-from \{\
  position: absolute;\
  width: 456px;\
  top: 52px;\
  left: 20px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 14px;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .rafik-funfact \{\
  position: absolute;\
  width: 504px;\
  height: 250px;\
  top: 0;\
  left: 407px;\
\}\
\
.MESSIAH .element-aksay-KTL-mezun \{\
  position: absolute;\
  width: 360px;\
  top: 52px;\
  left: 20px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 14px;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-11 \{\
  position: absolute;\
  width: 234px;\
  top: 374px;\
  left: 553px;\
  font-family: "Inter", Helvetica;\
  font-weight: 700;\
  color: #000000;\
  font-size: 48px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .overlap-wrapper \{\
  position: absolute;\
  width: 1448px;\
  height: 450px;\
  top: 3417px;\
  left: 0;\
\}\
\
.MESSIAH .overlap-5 \{\
  position: relative;\
  width: 1440px;\
  height: 450px;\
  background-color: #e6f7ff;\
\}\
\
.MESSIAH .div-wrapper \{\
  position: absolute;\
  width: 350px;\
  height: 70px;\
  top: 244px;\
  left: 947px;\
  background-color: #ffffff;\
  border-radius: 15px;\
  box-shadow: 0px 4px 4px #00000040;\
\}\
\
.MESSIAH .text-wrapper-12 \{\
  position: absolute;\
  top: 24px;\
  left: 89px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .element-wrapper \{\
  position: absolute;\
  width: 350px;\
  height: 70px;\
  top: 244px;\
  left: 547px;\
  background-color: #ffffff;\
  border-radius: 15px;\
  box-shadow: 0px 4px 4px #00000040;\
\}\
\
.MESSIAH .element-million \{\
  position: absolute;\
  top: 24px;\
  left: 106px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .overlap-6 \{\
  position: absolute;\
  width: 350px;\
  height: 70px;\
  top: 244px;\
  left: 147px;\
  background-color: #ffffff;\
  border-radius: 15px;\
  box-shadow: 0px 4px 4px #00000040;\
\}\
\
.MESSIAH .text-wrapper-13 \{\
  position: absolute;\
  top: 24px;\
  left: 37px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-14 \{\
  position: absolute;\
  top: 100px;\
  left: 602px;\
  font-family: "Inter", Helvetica;\
  font-weight: 700;\
  color: #000000;\
  font-size: 48px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .overlap-group-wrapper \{\
  position: absolute;\
  width: 1448px;\
  height: 450px;\
  top: 2967px;\
  left: 0;\
\}\
\
.MESSIAH .overlap-7 \{\
  position: relative;\
  width: 1440px;\
  height: 450px;\
  background-color: #ffffff;\
\}\
\
.MESSIAH .overlap-group-4 \{\
  position: absolute;\
  width: 350px;\
  height: 70px;\
  top: 225px;\
  left: 946px;\
  background-color: #beeaff;\
  border-radius: 15px;\
  box-shadow: 0px 4px 4px #00000040;\
\}\
\
.MESSIAH .text-wrapper-15 \{\
  position: absolute;\
  top: 24px;\
  left: 44px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .overlap-8 \{\
  position: absolute;\
  width: 350px;\
  height: 70px;\
  top: 225px;\
  left: 546px;\
  background-color: #beeaff;\
  border-radius: 15px;\
  box-shadow: 0px 4px 4px #00000040;\
\}\
\
.MESSIAH .text-wrapper-16 \{\
  position: absolute;\
  top: 24px;\
  left: 72px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .overlap-9 \{\
  position: absolute;\
  width: 350px;\
  height: 70px;\
  top: 225px;\
  left: 146px;\
  background-color: #beeaff;\
  border-radius: 15px;\
  box-shadow: 0px 4px 4px #00000040;\
\}\
\
.MESSIAH .text-wrapper-17 \{\
  position: absolute;\
  top: 24px;\
  left: 62px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-18 \{\
  position: absolute;\
  width: 934px;\
  top: 100px;\
  left: 253px;\
  font-family: "Inter", Helvetica;\
  font-weight: 700;\
  color: #000000;\
  font-size: 48px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .element-2 \{\
  position: absolute;\
  width: 1444px;\
  height: 450px;\
  top: 2517px;\
  left: -2px;\
\}\
\
.MESSIAH .overlap-group-5 \{\
  position: absolute;\
  width: 500px;\
  height: 100px;\
  top: 225px;\
  left: 472px;\
  background-color: #ffffff;\
  border-radius: 15px;\
  box-shadow: 0px 4px 4px #00000040;\
\}\
\
.MESSIAH .text-wrapper-19 \{\
  position: absolute;\
  width: 414px;\
  top: 28px;\
  left: 44px;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 18px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-20 \{\
  position: absolute;\
  top: 100px;\
  left: 399px;\
  font-family: "Inter", Helvetica;\
  font-weight: 700;\
  color: #000000;\
  font-size: 48px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .element-3 \{\
  position: absolute;\
  width: 1448px;\
  height: 450px;\
  top: 2067px;\
  left: -2px;\
\}\
\
.MESSIAH .element-4 \{\
  position: absolute;\
  width: 100px;\
  height: 100px;\
  top: 225px;\
  left: 255px;\
  background-color: #beeaff;\
  border-radius: 50px;\
\}\
\
.MESSIAH .element-5 \{\
  position: absolute;\
  width: 100px;\
  height: 100px;\
  top: 225px;\
  left: 670px;\
  background-color: #beeaff;\
  border-radius: 50px;\
\}\
\
.MESSIAH .element-6 \{\
  position: absolute;\
  width: 100px;\
  height: 100px;\
  top: 225px;\
  left: 1085px;\
  background-color: #beeaff;\
  border-radius: 50px;\
\}\
\
.MESSIAH .text-wrapper-21 \{\
  position: absolute;\
  top: 354px;\
  left: 1035px;\
  opacity: 0.5;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 24px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-22 \{\
  position: absolute;\
  width: 412px;\
  top: 354px;\
  left: 516px;\
  opacity: 0.5;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 24px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-23 \{\
  position: absolute;\
  top: 354px;\
  left: 210px;\
  opacity: 0.5;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 24px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-24 \{\
  position: absolute;\
  top: 100px;\
  left: 341px;\
  font-family: "Inter", Helvetica;\
  font-weight: 700;\
  color: #000000;\
  font-size: 48px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .overlap-10 \{\
  position: absolute;\
  width: 1440px;\
  height: 450px;\
  top: 1617px;\
  left: 0;\
  background-color: #e6f7ff;\
\}\
\
.MESSIAH .text-wrapper-25 \{\
  position: absolute;\
  width: 1146px;\
  top: 46px;\
  left: 147px;\
  font-family: "Inter", Helvetica;\
  font-weight: 700;\
  color: #000000;\
  font-size: 48px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .element-7 \{\
  position: absolute;\
  width: 1127px;\
  height: 276px;\
  top: 1274px;\
  left: 127px;\
\}\
\
.MESSIAH .text-wrapper-26 \{\
  position: absolute;\
  top: 247px;\
  left: 894px;\
  opacity: 0.5;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 24px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-27 \{\
  position: absolute;\
  top: 247px;\
  left: 451px;\
  opacity: 0.5;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 24px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-28 \{\
  position: absolute;\
  top: 247px;\
  left: 0;\
  opacity: 0.5;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 24px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .element-8 \{\
  position: absolute;\
  width: 100px;\
  height: 100px;\
  top: 125px;\
  left: 956px;\
  background-color: #beeaff;\
  border-radius: 50px;\
\}\
\
.MESSIAH .element-9 \{\
  position: absolute;\
  width: 100px;\
  height: 100px;\
  top: 125px;\
  left: 541px;\
  background-color: #beeaff;\
  border-radius: 50px;\
\}\
\
.MESSIAH .element-10 \{\
  position: absolute;\
  width: 100px;\
  height: 100px;\
  top: 125px;\
  left: 126px;\
  background-color: #beeaff;\
  border-radius: 50px;\
\}\
\
.MESSIAH .text-wrapper-29 \{\
  position: absolute;\
  width: 934px;\
  top: 0;\
  left: 126px;\
  font-family: "Inter", Helvetica;\
  font-weight: 700;\
  color: #000000;\
  font-size: 48px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .view-2 \{\
  position: absolute;\
  width: 817px;\
  height: 363px;\
  top: 339px;\
  left: 313px;\
\}\
\
.MESSIAH .text-wrapper-30 \{\
  position: absolute;\
  width: 813px;\
  top: 334px;\
  left: 0;\
  opacity: 0.5;\
  font-family: "Inter", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 24px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .text-wrapper-31 \{\
  position: absolute;\
  width: 793px;\
  top: 133px;\
  left: 10px;\
  font-family: "Inter", Helvetica;\
  font-weight: 700;\
  color: #000000;\
  font-size: 48px;\
  text-align: center;\
  letter-spacing: 0;\
  line-height: normal;\
\}\
\
.MESSIAH .element-11 \{\
  position: absolute;\
  width: 100px;\
  height: 100px;\
  top: 0;\
  left: 357px;\
  object-fit: cover;\
\}\
\
.MESSIAH .view-3 \{\
  position: absolute;\
  width: 36px;\
  height: 967px;\
  top: 77px;\
  left: 50px;\
\}\
\
.MESSIAH .overlap-11 \{\
  position: relative;\
  height: 967px;\
\}\
\
.MESSIAH .view-4 \{\
  position: absolute;\
  width: 36px;\
  height: 259px;\
  top: 0;\
  left: 0;\
\}\
\
.MESSIAH .overlap-group-6 \{\
  position: absolute;\
  width: 36px;\
  height: 188px;\
  top: 0;\
  left: 0;\
\}\
\
.MESSIAH .mask-group \{\
  position: absolute;\
  width: 36px;\
  height: 71px;\
  top: 0;\
  left: 0;\
\}\
\
.MESSIAH .mask-group-2 \{\
  top: 70px;\
  position: absolute;\
  width: 36px;\
  height: 71px;\
  left: 0;\
\}\
\
.MESSIAH .mask-group-3 \{\
  top: 117px;\
  position: absolute;\
  width: 36px;\
  height: 71px;\
  left: 0;\
\}\
\
.MESSIAH .mask-group-4 \{\
  top: 188px;\
  position: absolute;\
  width: 36px;\
  height: 71px;\
  left: 0;\
\}\
\
.MESSIAH .view-5 \{\
  position: absolute;\
  width: 36px;\
  height: 259px;\
  top: 235px;\
  left: 0;\
\}\
\
.MESSIAH .view-6 \{\
  position: absolute;\
  width: 36px;\
  height: 259px;\
  top: 472px;\
  left: 0;\
\}\
\
.MESSIAH .view-7 \{\
  position: absolute;\
  width: 36px;\
  height: 259px;\
  top: 708px;\
  left: 0;\
\}\
\
.MESSIAH .text-wrapper-32 \{\
  position: absolute;\
  top: 78px;\
  left: 143px;\
  font-family: "Iowan Old Style-Roman", Helvetica;\
  font-weight: 400;\
  color: #000000;\
  font-size: 32px;\
  letter-spacing: 3.20px;\
  line-height: 43.7px;\
  white-space: nowrap;\
\}\
}